.git/
.pytest_cache/
__pycache__/

.coverage
.dockerignore

celerybeat-schedule
docker-compose.override.yml

var/

src/backend/.pytest_cache
src/backend/staticfiles

src/frontend/node_modules

src/mobile/node_modules
src/mobile/.expo
src/mobile/.expo-shared
