Django==4.2.3
django-cors-headers==4.2.0
django-extensions==3.2.3
djangorestframework==3.14.0
django-ckc==0.0.10
factory-boy==3.2.1

# Heroku staging debug tools
django-debug-toolbar==4.1.0
django-querycount==0.8.3

# Database
dj-database-url==2.0.0
psycopg==3.1.9

# Storage
whitenoise[brotli]==6.5.0

# Email
django-anymail==10.0
django-templated-email==3.0.1

# Monitoring
scout-apm==2.26.1

# Caching
redis[hiredis]==4.6.0

# Realtime
channels==4.0.0
channels_redis==4.1.0
uvicorn[standard]==0.23.0
service-identity==23.1.0

# Logging
colorlog==6.7.0
