Django==5.0.6
django-cors-headers==4.4.0
django-extensions==3.2.3
djangorestframework==3.15.2
drf-extensions==0.7.1
django-ckc==0.0.10
factory-boy==3.3.0

# Heroku staging debug tools
django-debug-toolbar==4.4.2
django-querycount==0.8.3

# Database
dj-database-url==2.2.0
psycopg==3.1.19

# Storage
whitenoise[brotli]==6.7.0

# Email
django-anymail==11.0
django-templated-email==3.0.1

# Caching
redis[hiredis]==5.0.6
django-redis==5.4.0

# Realtime/server
gunicorn==22.0.0
uvicorn[standard]==0.30.1
channels==4.1.0
channels_redis==4.2.0
service-identity==24.1.0

# Logging
colorlog==6.8.2
