Django==3.0.5
gunicorn==20.0.4
django-cors-headers==3.2.1
django-extensions==2.2.9
dj-rest-auth==1.0.4
djangorestframework==3.11.0

# Heroku staging debug tools
django-debug-toolbar==2.2
django-querycount==0.7.0

# Database
dj-database-url==0.5.0
psycopg2==2.8.5

# Storage
whitenoise==5.0.1
