{% load static from staticfiles %}
{% block header %}
<head>
    <meta charset="UTF-8">
    <!-- Jquery and RiotJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/riot/3.13.2/riot+compiler.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>

    <!-- Our stylesheets here  -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/monstadex_custom.css' %}">

    <!-- Our API Wrapper -->
    <script src="{% static 'js/client.js'%}" type="text/javascript"></script>

    <!-- Our Tags Here  -->
    <script src="{% static 'tags/timer.tag.html' %}" type="riot/tag"></script>
    <script src="{% static 'tags/monsters_list.tag' %}" type="riot/tag"></script>
    <script src="{% static 'tags/monster_detail.tag.html' %}" type="riot/tag"></script>
    <script src="{% static 'tags/attacks_list.tag.html' %}" type="riot/tag"></script>
    <script src="{% static 'tags/modal.tag.html' %}" type="riot/tag"></script>
    <script src="{% static 'tags/attacks_modal.tag.html' %}" type="riot/tag"></script>
    <script src="{% static 'tags/players_list.tag' %}" type="riot/tag"></script>
    <script src="{% static 'tags/players.tag' %}" type="riot/tag"></script>
</head>
<script>
    $(document).ready(function() {
        // This mounts all of our tags we've created!
        riot.mount('*');
    });
</script>
<header>
  <div class="container clearfix">
      <h1 id="logo">
          MonstaDex
      </h1>
      <nav>
          <a href="{% url 'home' %}">Monsters</a>
          <a href="/players/{{user.player.id}}">Profile</a>
          <a href="{% url 'attacks_list' %}">Attacks</a>
          {% if user.is_authenticated %}
          <a href="{% url 'logout' %}">Logout</a>
          {% else %}
          <a href="{% url 'login'}">Login</a>
          {% endif %}
      </nav>
  </div>
</header>
{% endblock %}
<div>
    {% block content %}
    {% endblock %}
</div>