{% load static from staticfiles %}
{% block header %}
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>

    <!-- Jquery and RiotJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/riot/3.13.2/riot+compiler.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>

    <!-- Our stylesheets here  -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/monstadex_custom.css' %}">

    <!-- Our API Wrapper -->
    <script src="{% static 'js/client.js'%}" type="text/javascript"></script>

    <!-- Our Tags Here  -->
    <script src="{% static 'tags/timer.tag.html' %}" type="riot/tag"></script>
    <script src="{% static 'tags/monsters_list.tag' %}" type="riot/tag"></script>
    <script src="{% static 'tags/monster_detail.tag.html' %}" type="riot/tag"></script>
    <script src="{% static 'tags/players_list.tag' %}" type="riot/tag"></script>
    <script src="{% static 'tags/players.tag' %}" type="riot/tag"></script>
</head>
<script>
    $(document).ready(function() {
        // This mounts all of our tags we've created!
        riot.mount('*');
    });
</script>
<header>
  <div class="container clearfix">
      <h1 id="logo">
          MonstaDex
      </h1>
      <nav>
          <a href="{% url 'home' %}">Monsters</a>
          <a href="{{user.player.url}}">Profile</a>
          <a href="{% url 'login' %}">Logout</a>
      </nav>
  </div>
</header>

{% endblock %}
<div class="header-fix">
    {% block content %}
    {% endblock %}
</div>

