<html>
<head>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
</head>
<body>
{% load wagtailcore_tags wagtailimages_tags %}
{% load static from staticfiles %}



<br>
MONSTERS:
{% for mon in page.monsters.all %}
     <br>{{ mon.monsterName }}
    <!-- TODO: Fix sorl and images on wagtail -- maybe using cloudinary? -->
    <!--<img src="{{mon.image.url}}">-->
    <br>{{mon.family}}
    <br>{{mon.element}}
    <br>{{mon.description|richtext}}
{% endfor %}
</body>
</html>
