{% extends "emails/base.html" %}

{% block subject %}
    Password Reset
{% endblock %}

{% block extra_head %}

{% endblock %}

{% block content %}

    <table style="margin-bottom: 15px;">
        <tr>
            <td class="title">
                Changing your password
            </td>
        </tr>
        <tr>
            <td>
                Need to reset your password? No problem. Just click below to get started.
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ SITE_DOMAIN }}/#/password_reset_confirm/{{ uid }}/{{ token }}/" class="button">
                    Reset my password
                </a>
            </td>
        </tr>
    </table>
{% endblock %}
